Body{
    background: black;
    padding: 0;
    margin:  0;
}

#Título{
    color: #fff;
    font-style: italic;
    display: inline-block;
    padding-top: 10px;
    padding-left:10px;
    margin-top: 10px;
    top: -15px; position:absolute;

}

nav li{
    display: inline-block;
}

nav li a{
    display: inline-block;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    margin-right: 50px;
    margin-top: -20px;
    

}

nav li a:hover{
    background-color: red;
}

H1{
    color: #fff;
    padding: 0;
    margin-right: 20px;   
    margin-top: 90px;
}

h2{
  color: #fff;
  margin-right: 20px;
  margin-top: 90px;
}

p{
  color: white;
  margin-top: 5%;
  display: flex;
}

img{
    margin-top: -10%
}

@media screen and (max-width: 768px) {
    img{
        width: 40%;
    }

}
